
body{
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",Helvetica,Arial,sans-serif;
}
.uArticle{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
}
.uArticle:hover{
    box-shadow: 0 2px 40px rgba(0,0,0,.2)
}
.panel:hover{
    box-shadow: 0 2px 40px rgba(0,0,0,.2)
}
.post {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.post-head{
    text-align: center;
}
.post-title{
    margin: 0;
    font-size: 2.0em;
    line-height: 1.0em;
    color: inherit;
    padding-bottom: 10px;
    font-family: Consolas, monospace;
}
a:link {
    text-decoration: none;
}
.author{
    font-size: 13px;
    color: #bdb7b7;
    letter-spacing: 1px;
    background-color: white;
}
.display{
    ont-size: 13px;
    color: #bdb7b7;
    background-color: #f9f9f9;
    letter-spacing: 1px;
    padding-left: 0;
    padding-bottom: 2px;
}
.body{
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: #999;
    letter-spacing: 2px;
}
.line-limte-length
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
}
.copyright{
    width:100%;
    background: white;
    font-size: 13px;
    text-align: center;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer{
    align-content: center;
}
.a-login{
    padding-top: 10px;
    font-size: 10px;
    font-family:courier, monospace;
}
.a-forget{
    padding-top: 10px;
    text-align: right;
    font-size: 10px;
    font-family: courier, monospace;

}
.tags{
    padding-left: 0;
    padding-bottom: 20;
}
.panel-list
{
    margin-top: 10px;
}
.comment-time
{
    font-size: 13px;
    color: #bdb7b7;
    letter-spacing: 1px;
}

.dht:hover
{
    background-color: #f0ad4e !important;
}
.dht
{
    transition: 0.5s;
}
.active_dht
{
    background-color: #337ab7 !important;
    color:white !important;
}
.navbar{
    border: none;
}
.navbar-collapse{
    height: 50px !important;
}
.b_10_3 {
    overflow: hidden; text-align:center;
}
.b_10_3 span {
    float: left; font-size:16px; line-height:2em;
}
.b_10_3 span.bold {
    font-weight:bold;
}
.b_10_3 span:nth-child(1) {
    width: 35%;
    text-align: center;
}
.b_10_3 span:nth-child(2) {
    width: 30%;
    text-align: left;
}
.b_10_3 span:nth-child(3) {
    width: 35%;
    text-align: left;
}
.b_10_3 span:nth-child(4) {
    width: 35%;
    text-align: right;
}
.b_10_3 span:nth-child(5) {
    width: 25%;
    text-align: right;
}
.b_10_3 span:nth-child(6) {
    width: 25%;
    text-align: right;
}
.b_10_3 span:nth-child(7) {
    width: 50%;
    text-align: center;
}
.b_10_3 span:nth-child(8) {
    width: 30%;
    text-align: center;
}
.b_10_3 span:nth-child(9) {
    width: 50%;
    text-align: right;
}
.b_10_3 span:nth-child(10) {
    width: 40%;
    text-align: right;
}